{% extends 'base.html.twig' %}
{% block title %}Connection{% endblock %}

{% block stylesheets %}
<style>
    .form-control {
        margin-left: 15px;
    }
    .btn {
        display: block;
    }
    form {
        display: flex;
        flex-direction: column;
        row-gap: 15px;
        width: 350px;
    }   
    form button[type="submit"] {
        align-self: center;
        justify-self: center;
        width: fit-content;
        padding: 13px 25px;
    }
    form > div {
        display: flex;
        flex-direction: column;
        row-gap: 5px;
    }
</style>
{% endblock %}

{% block body %}
<main>
    <h1>Register</h1>

    {{ form_start(connectionForm) }}
        {{ form_row(connectionForm.Surname) }}

        {{ form_row(connectionForm.Password) }}
        <button type="submit" class="btn btn-primary">Register</button>
    {{ form_end(connectionForm) }}
</main>
{% endblock %}
