{% extends 'base.html.twig' %}

{% block body %}
    <h1>Register</h1>

    {{ form_start(connectionForm) }}
        {{ form_row(connectionForm.Surname) }}
        {{ form_row(connectionForm.Password) }}
        <button type="submit" class="btn btn-primary">Register</button>
    {{ form_end(connectionForm) }}
{% endblock %}
