{% extends 'base.html.twig' %}

{% block title %}Market Manager{% endblock %}

{% block body %}
{% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('assets/css/home.css') }}">
{% endblock stylesheet %}

<main>
    <img src="{{ asset('img/home.png') }}" alt="homepage" class="home-image" width="100" height="100">
    <div class="home-text-container">
        <h1>Home page</h1>
        <h5>Welcome to Market Manager. <br> You can find the available course listings below.</h5>
    </div>
</main>
{{ include ('footer.html.twig') }}

{% endblock %}
