/* Navbar */

.title-menu-container {
    display: flex;
    align-items: center;
  }

  .title-menu-container img {
    margin-right: 10px;
    width: 25px;
    height: fit-content;
  }

  .name-menu-container {
    display: flex;
    align-items: center;
    color: white;
    margin-top:14px;
  }
  main {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 70px;
    justify-content: center;
  }
  .title-menu-container { margin-left: 20px; }

  .navbar-brand {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
  }

  .navbar-brand * {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .nav-text-right {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
  }
  .me-auto {
    margin-left: 0 !important;
  }

  .hello-text-image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    column-gap: 7px;
  }

  .navbar {
    --bs-navbar-padding-y: 0.7rem;
  }