.create-new-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
}

.table {
    margin-top: 20px;
}

.table td, .table th{
    vertical-align: middle;
    text-align: center;
}

.date-filter-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 40px;
    padding: 22px 0;
}

.button-nav-lists {
    padding-left: 45px;
    background-repeat: no-repeat;
    background-position: left 10px center;
    background-size: 25px;
}

.button-nav-lists.new-lists {
    background-image: url(../../img/new.png);
}

.button-nav-lists.old-lists {
    background-image: url(../../img/old.png);
}

#createListIcon {
    position: absolute;
}

.total-list-price-container {
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 9px;
}
.total-list-price {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    justify-content: center;
    white-space: nowrap;
}

.bar {
    width: 100%;
    height: 2px;
    background-color: black;
}