{% extends 'base.html.twig' %}

{% block title %}Edit ArticleInList{% endblock %}

{% block body %}
    <h1>Edit ArticleInList</h1>

    {{ include('article_in_list/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_article_in_list_index') }}">back to list</a>

    {{ include('article_in_list/_delete_form.html.twig') }}
{% endblock %}
