{% extends 'base.html.twig' %}

{% block title %}New ArticleInList{% endblock %}

{% block body %}
    <h1>Create new ArticleInList</h1>

    {{ include('article_in_list/_form.html.twig') }}

    <a href="{{ path('app_article_in_list_index') }}">back to list</a>
{% endblock %}
