{% extends 'base.html.twig' %}

{% block title %}CollaborationRequest{% endblock %}

{% block body %}
    <h1>CollaborationRequest</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ collaboration_request.id }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_collaboration_request_index') }}">back to list</a>

    <a href="{{ path('app_collaboration_request_edit', {'id': collaboration_request.id}) }}">edit</a>

    {{ include('collaboration_request/_delete_form.html.twig') }}
{% endblock %}
