{% extends 'base.html.twig' %}

{% block title %}New ShoppingList{% endblock %}

{% block body %}
    <h1>Create new ShoppingList</h1>

    {{ form_start(ShoppingListform) }}
        {{ form_widget(ShoppingListform) }}
        <button class="btn btn-success">Save</button>
    {{ form_end(ShoppingListform) }}

    <a href="{{ path('list') }}" class="btn btn-dark">Back to lists</a>
{% endblock %}
